{{ partial "header.html" .}}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="position: relative; overflow: hidden;">
    {{ if isset .Params "image" }}
        <div class="intro-header-background"  style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.image }}')"></div>
      {{ else }}
        <div class="intro-header-background" style="background-image: url('{{ .Site.BaseURL }}/img/group.jpg')"></div>
    {{ end }}
      <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-sm-7 col-sm-offset-1">
             <div class="post-heading">
               <h1>{{ .Params.name }}</h1>
               <h2 class="subheading">{{ .Description }}</h2>
             </div>
           </div>
           <div class="col-lg-2 col-sm-4" >
              <img class="profile-pic" src="{{ .Site.BaseURL }}/{{ .Params.photo }}" alt="">
           </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ .Content }}
                  <p>
                  Follow {{ $.Params.name }} on
                  {{ with .Params.github }}
                      <a href="https://github.com/{{ . }}">
                        Github
                      </a>
                  {{ end }}
                  ,
                  {{ with .Params.twitter }}
                      <a href="https://twitter.com/{{ substr . 1 }}">
                        Twitter
                      </a>
                  {{ end }}
                  </p>
                </div>
            </div>
        </div>
    </article>

{{ partial "footer.html" .}}
